@import 'mixin';

#response{
  .line-4 {
    border-color: lighten(#BE90D4, 20);
    .panel-heading {
      background-color: #BE90D4;
      color: white;
      border-color: lighten(#BE90D4, 20);
    }
    .panel-body {
      color:black;
    }
  }
  .line-1 {
    border-color: lighten(#81CFE0, 20);
    .panel-heading {
      background-color: #81CFE0;
      color: white;
      border-color: lighten(#81CFE0, 20);
    }
  }
  .line-2 {
    border-color: lighten(#2ECC71, 20);
    .panel-heading {
      background-color: #2ECC71;
      color: white;
      border-color: lighten(#2ECC71, 20);
    }
  }
  .line-3 {
    border-color: lighten(#F5AB35, 20);
    .panel-heading {
      background-color: #F5AB35;
      color: black;
      border-color: lighten(#F5AB35, 20);
    }
  }
  .line-5 {
    border-color: lighten(#CF000F, 20);
    .panel-heading {
      background-color: #CF000F;
      color: black;
      border-color: lighten(#CF000F, 20);
    }
  }
  .line-6 {
    border-color: lighten(#F5AB35, 20);
    .panel-heading {
      background-color: #F5AB35;
      color: black;
      border-color: lighten(#F5AB35, 20);
    }
  }
  .line-7 {
    border-color: lighten(#F9690E, 20);
    .panel-heading {
      background-color: #F9690E;
      color: black;
      border-color: lighten(#F9690E, 20);
    }
  }
}

.stop-wrapper {
  width: 80%;
  max-width: 600px;
  overflow: hidden;
  background: white;
  box-shadow: 1px 2px 2px #ccc;
  margin-left: auto;
  margin-right: auto;

  .info-ribbon {
    height: 30px;
    background: #eee;
    width: 100%;
  }
}
.alert-wrapper {
  position: relative;
  top: 80px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top:0;
  left: 0;
  right: 0;
}
#xml-response {
  height: auto;
  color: black;
  min-height: 700px
}
.indented-response {
  margin-left: 20px;
}
.fancy-container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.fancy-wrapper{
  position:relative;margin:20px 0 0 0;padding:0;

  .fancy-stop-wrapper{
    @include clearfix;
    display:block;margin-top:20px;

    &:first-child{margin-top:0;}

    // Colorations
    &.line-1{
      .line-header,.fancy-stop-wrapper>.line-header{background-color:#81CFE0;color:#fff;}
      .fancy-stop-wrapper>.line-header:before{border-top:40px solid #81CFE0;}

      .stop-info-property{background-color:lighten(#81CFE0,20%);color:darken(#81CFE0,15%);}
      .stop-info-value{background-color:lighten(#81CFE0,27.5%);color:darken(#81CFE0,5%);}
    }
    &.line-2{
      .line-header,.fancy-stop-wrapper>.line-header{background-color:#2ECC71;color:#fff;}
      .fancy-stop-wrapper>.line-header:before{border-top:40px solid #2ECC71;}

      .stop-info-property{background-color:lighten(#2ECC71,20%);color:darken(#2ECC71,25%);}
      .stop-info-value{background-color:lighten(#2ECC71,27.5%);color:darken(#2ECC71,15%);}
    }
    &.line-3{
      .line-header,.fancy-stop-wrapper>.line-header{background-color:#F5AB35;}
      .fancy-stop-wrapper>.line-header:before{border-top:40px solid #F5AB35;}

      .stop-info-property{background-color:lighten(#F5AB35,20%);}
      .stop-info-value{background-color:lighten(#F5AB35,27.5%);}
    }
    &.line-4{
      .line-header,.fancy-stop-wrapper>.line-header{background-color:#BE90D4;color:#fff;}
      .fancy-stop-wrapper>.line-header:before{border-top:40px solid #BE90D4;}

      .stop-info-property{background-color:lighten(#BE90D4,20%);color:darken(#BE90D4,15%);}
      .stop-info-value{background-color:lighten(#BE90D4,27.5%);color:darken(#BE90D4,5%);}
    }
    &.line-5{
      .line-header,.fancy-stop-wrapper>.line-header{background-color:#CF000F;}
      .fancy-stop-wrapper>.line-header:before{border-top:40px solid #CF000F;}

      .stop-info-property{background-color:lighten(#CF000F,20%);}
      .stop-info-value{background-color:lighten(#CF000F,27.5%);}
    }
    &.line-6{
      .line-header,.fancy-stop-wrapper>.line-header{background-color:#F5AB35;}
      .fancy-stop-wrapper>.line-header:before{border-top:40px solid #F5AB35;}

      .stop-info-property{background-color:lighten(#F5AB35,20%);}
      .stop-info-value{background-color:lighten(#F5AB35,27.5%);}
    }
    &.line-7{
      .line-header,.fancy-stop-wrapper>.line-header{background-color:#F9690E;}
      .fancy-stop-wrapper>.line-header:before{border-top:40px solid #F9690E;}

      .stop-info-property{background-color:lighten(#F9690E,20%);}
      .stop-info-value{background-color:lighten(#F9690E,27.5%);}
    }

    .line-header{
      padding:10px;

      >h4{margin:0;}
    }

    .stop-info{
      &[class*='col'],&[class^='col']{
        padding:0;border-left:1px solid #fff;

        &:first-child{padding-left:15px;border-left:none;}
        &:last-child{padding-right:15px;}
      }

      .stop-info-property{
        text-transform:uppercase;

        .glyphicon+span{margin-left:0.25em;}
      }

      .stop-info-property,.stop-info-value{
        text-align:center;font-size:1em;
        padding:7px 4px 4px 4px;

        >p{margin:0}
      }
      .stop-info-property {
        font-size: 0.85em;
      }

      .stop-info-value.delayed{color:orange;}
      .stop-info-value.canceled{color:red;}
      .stop-info-value.early{color:green;}
    }
  }

  .fancy-wrapper.onwards{
    clear:both;margin-top:0;

    .fancy-stop-wrapper{padding-left:40px;margin-top:20px;}

    .fancy-stop-wrapper .line-header{
      position:relative;

      &:before{
        content:'';position:absolute;left:-20px;top:0;
        display:block;width:0px;height:0px;
        border-left:20px solid transparent;
      }
    }
  }
}
#check-status-response-wrapper {
    .alert {
      width: 100%;
      min-height: 100%;
      border: none;
      text-align: center;
    }
  }
