export default {
  servers: [
    {
      'id': 'siri-2.2',
      'version': '1.3',
      'requestor': 'Siri-Client',
      'value': ''
    }, {
      'id': 'siri-2.4',
      'version': '2.0:FR-IDF-2.4',
      'requestor': 'NINOXE:default',
      'value': ''
    }, {
      'id': 'siri-lite',
      'version': '2.0.0',
      'requestor': 'NINOXE:default',
      'value': ''
    }
  ]
};
